# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local
*.env

# Builds
client/dist/
client/.vite/
server/coverage/
server/.eslintcache

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Misc
.DS_Store

